.navbar {
    background: rgb(90,221,155);
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;

}
.navbar li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    color: rgb(70, 70, 70);
    cursor: pointer;
}

.navbar nav {
    display: flex;
    justify-content: center;
    
}

.navbar div {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 0 25px;
}

.navbar h1:hover {
    cursor: pointer;
}